{% comment %}
Hello!

I’m a backend developer and data engineer. This blog is a space for me to share what I’ve learned and document my journey of growth.

Driven by curiosity about technology, I aim to discuss topics like API design, database management, and data processing methods. 
While I still have much to learn, I hope this becomes a space for us to reflect, share ideas, and grow together.

I’ll be writing posts that are helpful for both beginners and experienced professionals alike. 
Feel free to share your thoughts anytime. 
Thank you for visiting!
  
{% endcomment %}
